<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.advancecarolina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission android:name="com.app.advancecarolina.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.app.advancecarolina.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <application
        android:allowBackup="true"
        android:name=".JavaApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.batch.android.BatchPushService" />
        <receiver android:name="com.batch.android.BatchPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.app.advancecarolina" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ContactUsActivity"
            android:label="Contact Us" />

        <activity
            android:name=".pollingview.ScheduleVoteActivity"
            android:label="Create A Schedule"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".NotesActivity"
            android:label="Notes"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".NewsSingleItemView"
            android:label="News Detail"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".CandidateSingleItemView"
            android:label="Candidate Detail"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".pollingview.RegisterActivity"
            android:label="Register to Advance Carolina"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".pollingview.PollLocationActivity"
            android:label="Polling Location"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
